/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .top {
    height: 570px; }
  /* Nav */
  .nav-wrapper {
    height: auto; }
  .nav-wrapper .nav {
    width: 100%;
    padding: 1rem; }
  .nav-wrapper .nav .menu {
    margin-left: 0;
    margin-top: 1rem; }
  .nav-wrapper .nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
    .nav-wrapper .nav .menu ul li {
      flex: 1; }
      .nav-wrapper .nav .menu ul li a {
        text-align: left; }
  /* Servives */
  .services .services-wrapper .services-wrap {
    flex-wrap: wrap; }
  .services .services-wrapper .service {
    width: 100%;
    flex-grow: 1; } }

/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Nav */
  .nav-wrapper {
    height: auto; }
  .nav-wrapper .nav {
    width: 100%;
    padding: 1rem; }
  .nav-wrapper .nav .menu {
    margin-left: 0;
    margin-top: 1rem; }
  .nav-wrapper .nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
    .nav-wrapper .nav .menu ul li {
      flex: 1; }
      .nav-wrapper .nav .menu ul li a {
        text-align: left; }
  /* Servives */
  .services .services-wrapper .services-wrap {
    flex-wrap: wrap; }
  .services .services-wrapper .service {
    width: 100%; }
  /* Portfolio */
  .portfolio .portfolio-nav {
    height: auto; }
  .portfolio .portfolio-nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
  .portfolio .photo-grid .photo {
    width: 100%; }
  /* Default */
  .default .default-wrapper {
    flex-wrap: wrap; }
  .default .default-wrapper .left,
  .default .default-wrapper .right {
    width: 100%; }
  /* About */
  .about .about-wrapper {
    flex-wrap: wrap; }
  .about .about-wrapper .right p {
    color: #fff; }
  /* Contact */
  .contact .contact-wrapper .contact-form .left {
    width: 100%; }
  .contact .contact-wrapper .contact-form .right {
    display: none; }
  .default .default-wrapper .right video {
    width: 100%; } }

/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Nav */
  .nav-wrapper {
    height: auto; }
  .nav-wrapper .nav {
    width: 100%;
    padding: 1rem; }
  .nav-wrapper .nav .menu {
    margin-left: 0;
    margin-top: 1rem; }
  .nav-wrapper .nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
    .nav-wrapper .nav .menu ul li {
      flex: 1; }
      .nav-wrapper .nav .menu ul li a {
        text-align: left; }
  /* Servives */
  .services .services-wrapper .services-wrap {
    flex-wrap: wrap; }
  .services .services-wrapper .service {
    width: 100%; }
  /* Portfolio */
  .portfolio .portfolio-nav {
    height: auto; }
  .portfolio .portfolio-nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
  .portfolio .photo-grid .photo {
    width: 100%; }
  /* Default */
  .default .default-wrapper {
    flex-wrap: wrap; }
  .default .default-wrapper .left,
  .default .default-wrapper .right {
    width: 100%; }
  /* About */
  .about .about-wrapper {
    flex-wrap: wrap; }
  .about .about-wrapper .right p {
    color: #fff; }
  /* Contact */
  .contact .contact-wrapper .contact-form .left {
    width: 100%; }
  .contact .contact-wrapper .contact-form .right {
    display: none; }
  .default .default-wrapper .right video {
    width: 100%; } }

/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Nav */
  .nav-wrapper {
    height: auto; }
  .nav-wrapper .nav {
    width: 100%;
    padding: 1rem; }
  .nav-wrapper .nav .menu {
    margin-left: 0;
    margin-top: 1rem; }
  .nav-wrapper .nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
    .nav-wrapper .nav .menu ul li {
      flex: 1; }
      .nav-wrapper .nav .menu ul li a {
        text-align: left; }
  /* Servives */
  .services .services-wrapper .services-wrap {
    flex-wrap: wrap; }
  .services .services-wrapper .service {
    width: 100%; }
  /* Portfolio */
  .portfolio .portfolio-nav {
    height: auto; }
  .portfolio .portfolio-nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
  .portfolio .photo-grid .photo {
    width: 100%; }
  /* Default */
  .default .default-wrapper {
    flex-wrap: wrap; }
  .default .default-wrapper .left,
  .default .default-wrapper .right {
    width: 100%; }
  /* About */
  .about .about-wrapper {
    flex-wrap: wrap; }
  .about .about-wrapper .right p {
    color: #fff; }
  /* Contact */
  .contact .contact-wrapper .contact-form .left {
    width: 100%; }
  .contact .contact-wrapper .contact-form .right {
    display: none; }
  .default .default-wrapper .right video {
    width: 100%; } }

/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Nav */
  .nav-wrapper {
    height: auto; }
  .nav-wrapper .nav {
    width: 100%;
    padding: 1rem; }
  .nav-wrapper .nav .menu {
    margin-left: 0;
    margin-top: 1rem; }
  .nav-wrapper .nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
    .nav-wrapper .nav .menu ul li {
      flex: 1; }
      .nav-wrapper .nav .menu ul li a {
        text-align: left; }
  /* Servives */
  .services .services-wrapper .services-wrap {
    flex-wrap: wrap; }
  .services .services-wrapper .service {
    width: 100%; }
  /* Portfolio */
  .portfolio .portfolio-nav {
    height: auto; }
  .portfolio .portfolio-nav .menu ul {
    display: flex;
    flex-wrap: wrap; }
  .portfolio .photo-grid .photo {
    width: 100%; }
  /* Default */
  .default .default-wrapper {
    flex-wrap: wrap; }
  .default .default-wrapper .left,
  .default .default-wrapper .right {
    width: 100%; }
  /* About */
  .about .about-wrapper {
    flex-wrap: wrap; }
  .about .about-wrapper .right p {
    color: #fff; }
  /* Contact */
  .contact .contact-wrapper .contact-form .left {
    width: 100%; }
  .contact .contact-wrapper .contact-form .right {
    display: none; }
  .default .default-wrapper .right video {
    width: 100%; } }
